body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 240, 253);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(129, 123, 123, 0.653),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/moro-6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: rgb(103, 215, 238);
}
main {
  background-color: aliceblue;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.text-center {
  font-size: 35px;
  font-family: serif;
  text-align: center;
}
.text-center-insta {
  font-size: 35px;
  font-family: serif;
  text-align: center;
  font-weight: 400px;
}
.text-center-gram {
  font-size: 25px;
  opacity: 0.5;
  font-family: serif;
}
.img-resp {
  width: 100%;
  display: block;
}
.img-moro {
  width: 100%;
  display: block;
}
.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.card-header.grid {
  grid-gap: 0;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.card {
  background: white;
  margin: 10px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}
.instagram {
  text-align: center;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;

  background-color: rgb(103, 215, 238);

  text-decoration: none;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: rgba(245, 245, 220, 0.609);
}

footer {
  color: rgb(103, 76, 76);
  background-image: linear-gradient(
    rgba(102, 160, 129, 0.9),
    rgba(155, 250, 196, 0.9)
  );
}

footer h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: rgb(16, 31, 189);
  opacity: 0.7;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: 16 / 9;
  }
  .embed {
    display: none;
  }
}
