body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 240, 253);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(129, 123, 123, 0.653),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/moro-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
main {
  background-color: aliceblue;
}
.img-responsive {
  width: 100%;
  display: block;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
footer {
  color: rgb(103, 76, 76);
  background-image: linear-gradient(
    rgba(102, 160, 129, 0.9),
    rgba(155, 250, 196, 0.9)
  );
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
