body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(202, 240, 253);
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(
      rgba(129, 123, 123, 0.653),
      rgba(0, 0, 0, 0.6)
    ),
    url("../img/moro-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
main {
  background-color: aliceblue;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
